<h3>New Employee Form</h3>
<br>
<form [formGroup]="editEmployeeForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text"
           id="firstName"
           formControlName="firstName"
           class="form-control" />
    <span *ngIf="
                !editEmployeeForm.get('firstName')!.valid &&
                editEmployeeForm.get('firstName')!.touched
              "
          class="help-block">Please enter a valid first name!</span>
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text"
           id="lastName"
           formControlName="lastName"
           class="form-control" />
    <span *ngIf="
                !editEmployeeForm.get('lastName')!.valid &&
                editEmployeeForm.get('lastName')!.touched
              "
          class="help-block">Please enter a valid last name!</span>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text"
           id="email"
           formControlName="email"
           class="form-control" />
    <span *ngIf="
                !editEmployeeForm.get('email')!.valid &&
                editEmployeeForm.get('email')!.touched
              "
          class="help-block">Please enter a valid email!</span>
  </div>
  <div class="form-group">
    <label for="phone">Phone Number</label>
    <input type="text"
           id="phone"
           formControlName="phone"
           class="form-control" />
    <span *ngIf="
                !editEmployeeForm.get('phone')!.valid &&
                editEmployeeForm.get('phone')!.touched
              "
          class="help-block">Please enter a valid phone number!</span>
  </div>
  <div class="form-group">
    <label for="dateOfBirth">Date of Birth</label>
    <input type="date"
           id="dateOfBirth"
           formControlName="dateOfBirth"
           class="form-control" />
    <span *ngIf="
                !editEmployeeForm.get('dateOfBirth')!.valid &&
                editEmployeeForm.get('dateOfBirth')!.touched
              "
          class="help-block">Please enter a valid date of birth!</span>
  </div>
  <div class="form-group">
    <label for="address">Address</label>
    <input type="text"
           id="address"
           formControlName="address"
           class="form-control" />
    <span *ngIf="
                !editEmployeeForm.get('address')!.valid &&
                editEmployeeForm.get('address')!.touched
              "
          class="help-block">Please enter a valid address!</span>
  </div>
  <label>Gender</label>
  <div class="radio" *ngFor="let gender of genders">
    <label>
      <input type="radio" formControlName="gender" [value]="gender" />
      {{ gender }}
    </label>
  </div>
  <span *ngIf="
          !editEmployeeForm.get('gender')!.valid && editEmployeeForm.get('gender')!.touched
          "
        class="help-block">
    Please enter valid data!
    >
  </span>
  <div class="form-group">
    <label for="role">Role</label>
    <input type="text"
           id="role"
           formControlName="role"
           class="form-control" />
    <span *ngIf="
                !editEmployeeForm.get('role')!.valid &&
                editEmployeeForm.get('role')!.touched
              "
          class="help-block">Please enter a valid role!</span>
  </div>
  <button [disabled]="!editEmployeeForm.valid" class="btn btn-primary" type="submit">Submit</button>
</form>
