

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="newEmployeeForm" (ngSubmit)="onSubmit()">
        <div formGroupName="employeeData">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text"
                   id="firstName"
                   formControlName="firstName"
                   class="form-control" />
            <span *ngIf="
                !newEmployeeForm.get('employeeData.firstName')!.valid &&
                newEmployeeForm.get('employeeData.firstName')!.touched
              "
                  class="help-block">Please enter a valid name!</span>
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input type="text"
                   id="email"
                   formControlName="email"
                   class="form-control" />
            <span *ngIf="
                !newEmployeeForm.get('employeeData.email')!.valid &&
                newEmployeeForm.get('employeeData.email')!.touched
              "
                  class="help-block">Please enter a valid email!</span>
          </div>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input type="radio" formControlName="gender" [value]="gender" />
            {{ gender }}
          </label>
        </div>
        <span *ngIf="
          !newEmployeeForm.get('gender')!.valid && newEmployeeForm.get('gender')!.touched
          "
              class="help-block">
          Please enter valid data!
          >
        </span>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
